@import '../assets/styles/variables.scss';

.home-hero {
    width: 100%;
    overflow: hidden;
}

.slide-card {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    .slide-card-image {
        // width: 100%;
        // height: 100%;
        // position: relative;
    }
    .slide-card-image::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.4);
    }
    &-wrapper {
        width: 100%;
        height: 100%;
        position: relative;

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .hh-project-detail {
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 12rem 0;
    }

    h2 {
        font-size: 2.4rem;
        color: $white;
        font-weight: 500;
        z-index: 5;
        margin-bottom: 10px;
    }

    p{
        font-size: 1.8rem;
        color: $lightexttwo;
    }

    .swiper-button-prev, .swiper-button-next {
        color: rgba(255,255,255, 0.3)!important;
    }
}