:root {
    --after-color: '#111111';
    --swiper-theme-color: rgba(255,255,255,0.3)!important;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: calc(100vw / 1920 * 10);
}
  
body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}
img {
    width: 100%;
}

.container-wide {
    max-width: 145rem;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.container-narrow {
    max-width: 132rem;
    width: 100%;
    margin: 0 auto;
    position: relative;
}